.a-splash {
  align-items: center;
  background-color: #000000;
  color: #FFFFFF;
  text-align: center;
}
  .a-splash--details {
    bottom: 2rem;
    font-family: FiraCodeRegular, monospace;
    font-size: 0.75em;
    font-weight: 400;
    left: 2rem;
    letter-spacing: 0;
    position: absolute;
    text-align: left;
  }
  .a-splash--instruction {
    animation: a-splash--instruction 1s ease-in-out 0s infinite alternate both;
    color: rgba(255, 255, 255, 0.5);
    font-family: RobotoLight, sans-serif;
    font-size: 3em;
    font-weight: 300;
    left: 50%;
    position: absolute;
    text-transform: uppercase;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
    .a-splash--instruction strong {
      color: #FFFFFF;
      font-family: RobotoBold, sans-serif;
      font-weight: 700;
    }

@keyframes a-splash--instruction {
  0% {
   opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}
