.c-screen {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2em;
  width: 100%;
}
  .c-screen:focus {
    outline: 0;
  }
  .c-screen > * + *,
  .c-screen--actions > * + *,
  .c-screen--fields > * + *,
  .c-screen--items > * + * {
    margin-top: 1rem;
  }
  .c-screen--actions,
  .c-screen--description,
  .c-screen--fields {
    margin-top: 2rem;
  }
  .c-screen--actions {
    list-style-type: none;
  }
  .c-screen--field {
    line-height: 1;
  }
  .c-screen--label {
    display: block;
    margin-bottom: 0.5em;
  }
  .c-screen--label small {
    font-family: RobotoLight, sans-serif;
    font-weight: 300;
    font-size: 0.75em;
  }
  .c-screen--title {
    font-family: BlockedRegular;
    font-size: 2em;
    line-height: 1;
  }
